<a href="https://colab.research.google.com/github/Dhanapriya02/TELECOM/blob/main/Telecom_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from ast import increment_lineno

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import pickle

In [ ]:
import seaborn as sns

In [ ]:
import sklearn

In [ ]:
from sklearn.preprocessing import LabelEncoder ,OneHotEncoder

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
from sklearn.svm import SVC

In [ ]:

from sklearn.model_selection import RandomizedSearchCV

In [ ]:
import imblearn

In [ ]:
from imblearn.over_sampling import SMOTE

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix,f1_score

In [ ]:
data = pd.read_csv(r"/content/Churn_Modelling.csv")

In [ ]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
data.Total Charges=pd.to_numeric(data.Total Charges, errors='coerce')

In [ ]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
data["Total Charges"].fillna(data["Total Charges"].median(), inplace =True)

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()

In [ ]:
data["Partner"]=le.fit_transform(data["Partner"])

In [ ]:
data["Depandents"]=le.fit_transform(data["Dependents"])

In [ ]:
data["PhoneService"]=le.fit_transform(data["PhoneService"])

In [ ]:

data["MultipleLines"]=le.fit_transform(data["Multiplelines"])

In [ ]:
data["InternetService"]=le.fit_transform(data["InternetService"])

In [ ]:
data["OnlineSecurity"]=le.fit_transform(data["OnlineSecurity"])

In [ ]:
data["OnlineBackup"]=le.fit_transform(data["onlineBackup"])

In [ ]:
data["DeviceProtection"]=le.fit_transform(data["DeviceProtection"])

In [ ]:
data["TechSupport"]=le.fit_transform(data["TechSupport"])

In [ ]:
data["StreamingTV"]=le.fit_transform(data["StreamingTv"])

In [ ]:
data["StreamingMovies"]=le.fit_transform(data["StreamingMovies"])

In [ ]:
data["Contract"]=le.fit_transform(data["Contract"])

In [ ]:
data["PaperLessingBilling"]=le.fit_transform(data["PaperLessingBilling"])

In [ ]:
data["PaymentMethod"]=le.fit_transform(data["PaymentMethod"])

In [ ]:
data["Churn"]=le.fit_transform(data["Churn"])

In [ ]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
x=data.iloc[:,0:19].values

In [ ]:
y=data.iloc[:,19:20].values

In [ ]:
x

In [ ]:
y

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
one=OneHotEncoder()

In [ ]:
a=one.fit_transform(x[:,6:7]).toarray()

In [ ]:
b=one.fit_transform(x[:,7:8]).toarray()

In [ ]:
c=one.fit_transform(x[:,8:9]).toarray()

In [ ]:
d=one.fit_transform(x[:,9:10]).toarray()

In [ ]:
e=one.fit_transform(x[:,10:11]).toarray()

In [ ]:
f=one.fit_transform(x[:,11:12]).toarray()

In [ ]:
g=one.fit_transform(x[:,12:13]).toarray()

In [ ]:
h=one.fit_transform(x[:,13:14]).toarray()

In [ ]:
i=one.fit_transform(x[:,14:15]).toarray()

In [ ]:
j=one.fit_transform(x[:,16:17]).toarray()

In [ ]:
x=np.delete(x,[6,7,8,9,10,11,12,13],axis=1)

In [ ]:
x=np.concatenate((a,b,c,d,e,f,g,h),axis=1)

In [ ]:
from imblearn.over_sampling import SMOTE

In [ ]:
smt=SMOTE()

In [ ]:
x_resample,y_resample=smt.fit_resample(x,y)

In [ ]:
x_resample

In [ ]:
y_resample

In [ ]:
data.describe()

,RowNumber,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,0.545700,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,0.497932,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,0.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,0.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,1.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,1.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,1.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [ ]:
plt.figure(figsize=(12,5))

In [ ]:
plt.subplot(1,2,1)

In [ ]:
sns.displot(data["tenure"])

In [ ]:
sns.displot(data["MonthCharges"])

In [ ]:
plt.figure(figsize=12,5))

In [ ]:
plt.subplot(1,2,1)

In [ ]:
sns.countplot(data["{gender"])

In [ ]:
plt.subplot(1,2,2)

In [ ]:
sns.countplot(data["Dependants"])

In [ ]:
sns.barplot(x="churn",y="MonthlyCharges",data=data)

In [ ]:
sns.heatmap(data.corr(),annot=True)

In [ ]:
sns.pairplot(data=data,markers=["^","v"],palette="inferno")

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test_spilit(x_resample,y_resample,test_size=0.2,random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc=Standardscaler()

In [ ]:
x_train=sc.fit_transform(x_train)

In [ ]:
x_test=sc.fit_transform(x_test)

In [ ]:
x_train.shape

In [ ]:
#importing ana building the Decision tree model

In [ ]:
def logreg(x_train,x_test,y_train,y_test):

In [ ]:
lr=LogisticRegression(random_state=0)

In [ ]:
lr.fit(x_train,y_train)

In [ ]:
y_lr_tr=lr.predict(x_train)

In [ ]:
print(accuracy_score(y_lr_tr,y_train))

In [ ]:
ypred_lr=lr.predict(x_test)

In [ ]:
print(accuracy_score(ypred_lr,y_test))

In [ ]:
print("***Random Forest***")

In [ ]:
print("Confusion_Matrix")

In [ ]:
print(confusion_matrix(y_test,ypred_rf))

In [ ]:
print("Classification Report")

In [ ]:
print(classfication_report(y_test,ypred_rf))

In [ ]:
#printing the train accuracy and test accuracy respectively

In [ ]:
RandomForest(x_train,x_test,y_train,y_test)

In [ ]:
#importing and building the KNN model

In [ ]:
def KNN(x_train,x_test,y_train,y_test):

In [ ]:
knn=KNeighborsClassifier()

In [ ]:
knn.fit(x_train,y_train)

In [ ]:
y_knn_tr=knn.predict(x_train)

In [ ]:
print(accuracy_score(y_knn_tr,y_train))

In [ ]:
ypred_knn=knn.predict(x_train)

In [ ]:
print(accuracy_score(ypred_knn,y_test))

In [ ]:
print("***KNN***")

In [ ]:
print("confusion_Matrix")

In [ ]:
print(confusion_matrix(y_test,ypred_knn))

In [ ]:
print("Classification Report")

In [ ]:
print(classification_report(y_test,ypred_knn))

In [ ]:
#printing the train accuracy and test accuracy respectively

In [ ]:
Knn(X_train,x_test,y_train,y_test)

In [ ]:
#importing and building the random forest model

In [ ]:
def svm(x_train,x_test,y_train,y_test):

In [ ]:
svm=svc(kernel="linear")

In [ ]:
svm.fit(x_train,y_train)

In [ ]:
y_svm_tr=svm.predict(x_train)

In [ ]:
print(accuracy_score(y_svm_tr,y_train))

In [ ]:
ypred_svm=svm,predict(x_test)

In [ ]:
print(accuracy_score(ypred_svm))

In [ ]:
print("***Support Vector Machine***")

In [ ]:
print("Confusion_Matrix")

In [ ]:
print(confusion_matrixity(y_test,ypred_svm))

In [ ]:
print(classification_report(y_test,ypred_svm))

In [ ]:
#printing the train accuracy and test accuracy respectively

In [ ]:
svm(x_train,x_test,y_train,y_test)

In [ ]:
#importing the Keras liabraries and packages

In [ ]:
import Keras

In [ ]:
from kears.models import Sequential

In [ ]:
from Keras.layers import Dense

In [ ]:
#Initialising the ANN

In [ ]:
classfier=Sequential()

In [ ]:
#adding the input layer and the first hidden layer

In [ ]:
classifier.add(Dense(units=30,activation+'relu',input-dim=40))

In [ ]:
#adding the second hidden layer

In [ ]:
classifier .add(Dense(units=30,activation='relu'))

In [ ]:
#adding the output layer

In [ ]:
#compling the ANN

In [ ]:
classfier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
#filting the ANN to the Training set

In [ ]:
model_history=classifier.fit(x_train,y_train,batch_size=10,validation_spilit=0.33,epochs=200)

In [ ]:
ann_pred=classfier.predict(x_test)

In [ ]:
ann_pred=(ann_pred>0.5)

In [ ]:
ann_pred

In [ ]:
print(accuracy_score(ann_pred,y_test))

In [ ]:
print("***ANN Model***")

In [ ]:
print("Confusion_Matrix(t_test,ann_pred"))

In [ ]:
print("Classification Report")

In [ ]:
print(classification_repor(y_test,ann_pred))

In [ ]:
#testing on random input values

In [ ]:
lr=LogisticRegrassion(random_state=0)

In [ ]:
lr.fit(x_train,y_train)

In [ ]:
print("Prediciting on random input")

In [ ]:
lr_pred_own=lr.predict(sc.transform([[0,0,1,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,1,1,0,0,456,1,0,3245,4567]]))

In [ ]:
print("output is:",lr_pred-own)

In [ ]:
#testing on random input values

In [ ]:
dtc=DecisionTreeClassfier(criterion="entropy",random_state=0)

In [ ]:
print("predicting on random input")

In [ ]:
dtc_pred_own=dtc.predict(sc.transform([[0,0,1,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,0,0,1,1,0,0,456,1,0,3245,4567))print("output is:",dtc_pred_own))]]

In [ ]:
#testing on random input values

In [ ]:
rf =RandomForestclassicfier(criterion="entropy",n-estimators=10,random-state=10)

In [ ]:
rf.fit(x-train,y-train)

In [ ]:
print('predicting on random input')

In [ ]:
rf-pred-own =rf.predict(sc.tranform([[0,0,1,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,o,o,1,o,o,1,o,o,1,o,1,o,o,1,1,0,0,456,1,0,3245,4567]])

In [ ]:
print("output is:",rf-pred-own)

In [ ]:
svc=svc(kernal="liner")

In [ ]:
svc.fit(x-train,y-train)

In [ ]:
print("output is:",svm-pred own)

In [ ]:
knn=KNeighborsclassifier()

In [ ]:
knn.fit(x-train,y-train)

In [ ]:
print("predicting on random input")

In [ ]:
knn-pred-own="knn.predict(sc.transform([[0,0,1,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,1,1,0,0,456,1,0,3245,4567]]))

In [ ]:
print("output is:",knn_pred_own)

In [ ]:
#testing on random input values

In [ ]:
print("predicting on random input")

In [ ]:
ann_pred_own= classifier.predict(sc.transform([[0,0,1,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,1,0,0,0,456,1,0,3245,4567]]))

In [ ]:
print(ann_pred_own)

In [ ]:
ann_pred_own=(ann_pred_own>0.5)

In [ ]:
print("output is:",ann_pred_own)

In [ ]:
def compareModel(x_train,x_test,y_train,y_test):

In [ ]:
logreg(x_train,x_test,y_train,y_test)

In [ ]:
print('_'*100)

In [ ]:
decisionTree(x_train,x_test,y_train,y_test)

In [ ]:
print('_'*100)

In [ ]:
RandomForest(X_train,X_test,y_train,y_test)

In [ ]:
print('-'*100)

In [ ]:
svm(X_train,X_test,y_train,y_test)

In [ ]:
print('-'100)

In [ ]:
KNN(X_train,X_test,y_train,y_test)

In [ ]:
print('-'100)

In [ ]:
compareMOdel(X_train,X_test,y_train,y_test)

In [ ]:
print(accuracy_score(ann_Pred,y_test))

In [ ]:
print("***ANN Model***")

In [ ]:
print("Confusion_Matrix")

In [ ]:
Print(confusion_matrix(y_test,ann_pred))

In [ ]:
print("classification Report")

In [ ]:
print(classfication_report(y_test,ann_pred))

In [ ]:
y_rf=model.predict(x_train)

In [ ]:
print(accuracy_score(y_pred_rfcv,y_train))

In [ ]:
ypred_rfcv=model.predict(x_test)

In [ ]:
print(accuracy_score(ypred_rfcv,y_test))

In [ ]:
print("***Random Forest after Hyperparameter tuning***")

In [ ]:
print("confusion_Matrix")

In [ ]:
print(confusion_matrixity_test,ypred_rfcv))

In [ ]:
print("classication_report(y_test,ypred_rfcv"))

In [ ]:
print("Classification Report")

In [ ]:
print(classification_report(y_test,ypred_rfcv))

In [ ]:
print("Predicating on random input")

In [ ]:
rfcv_pred_own=model.predicat(sc.transform([[0,0,1,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,1,1,0,0,456,1,0,3245,4567]]))

In [ ]:
print("output is:",rfcv_pred_own)

In [ ]:
from  flask import Flask,render_template,request

In [ ]:
import keras

In [ ]:
from keras.models import load_model

In [ ]:
app=Flask)_name_)

In [ ]:
model=load_model("telecom_churn.h5)")

In [ ]:
@app.route('/')

In [ ]:
def helloworld():

In [ ]:
return render_template("base.html")

In [ ]:
@app.route('/assesment')

In [ ]:
def predication():

In [ ]:
return render_template("index.html")

In [ ]:
@app.route('/predict',methods=['POST'])

In [ ]:
def admin():

In [ ]:
a=request.form["gender"]

In [ ]:
if(a== 'f'):

In [ ]:
a=0

In [ ]:
if(a== 'm'):

In [ ]:
a=1

In [ ]:
b=request.form["srcitizen"]

In [ ]:
if(b== 'n'):

In [ ]:
b=0

In [ ]:
if(b== 'y'):

In [ ]:
b=1

In [ ]:
c=request.form["partner"]

In [ ]:
if(c== 'n')

In [ ]:
c=o

In [ ]:
if(c=='y'):

In [ ]:
c=1

In [ ]:
d=request.form["dependants"]

In [ ]:
if(d== 'n'):

In [ ]:
d=0

In [ ]:
if(d== 'y'):

In [ ]:
d=1

In [ ]:
e=request.form["tenure"]

In [ ]:
f=request.form["phservices"]

In [ ]:
if (f== 'n'):

In [ ]:
f=0

In [ ]:
if(f== 'y'):

In [ ]:
f=1

In [ ]:
g=request.form["multi"]

In [ ]:
if(g== 'n'):

In [ ]:
if(g== 'n'):

In [ ]:
g1,g2,g3=1,0,0

In [ ]:
if(g== 'y'):

In [ ]:
g1,g2,g3=1,0,0
if(g == 'nps'):
  g1,g2,g3=0,1,0
if(g== 'y'):
  g1,g2,g3=0,0,1
h= request.form["is"]
if(h== 'ds1'):
  h1,h2,h3=1,0,0
if(h== 'fo'):
  h1,h2,h3=0,0,1
i=request.form["os"]
if(i =='n'):
  i1,i2,i3=1,0,0
if(i =='nis'):
   i1,i2,i3=0,1,0
if(i =='y'):
  i1,i2,i3=0,0,1
j= request.form['ob']
if(j =='n'):
   j1,j2,j3=1,0,0
if(j== 'nis'):
  j1,j2,j3=0,1,0
if(j=='y'):
  j1,j2,j3=0,0,1
k=request.form['dp']
if(k== 'n'):
  k1,k2,k3=1,0,0
if(k=='nis'):
  k1,k2,k3=0,0,1
if(k== 'y'):
  k1,k2,k3=0,0,1
l=request.form["ts"]
if(l== 'n')
 l1,l2,l3=1,0,0
 if(l=='nis'):
   l1,l2,l3=0,1,0
if(l== 'y')
l1,l2,l3=0,0,1
m=request.form["stv"]
if(m== 'n'):
  m1,m2,m3=1,0,0
if(m== 'nis'):
  m1,m2,m3=0,1,0
if(m== 'y')
 m1,m2,m3=0,0,1
n=request.form["smv"]
if(n== 'n'):
 n1,n2,n3=1,0,0
if(n== 'nis'):
 n1,n2,n3=0,1,0
if(n== 'y'):
 n1,n2,n3=0,0,1
o=request.form["contract"]
if(o== 'mtm'):
 o1,o2,o3=1,0,0
if(o== 'oyr'):
 o1,o2,o3=0,1,0
if(o== 'tyrs'):
 o1,o2,o3=0,0,1
p=request.form["pmt"]
if(p== 'ec'):
 p1,p2,p3,p4=1,0,0,0
if(p== 'mail'):
 p1,p2,p3,p4=0,1,0,0
if(p== 'bt'):
  p1,p2,p3,p4=0,0,1,0
if(p== 'cc'):
  p1,p2,p3,p4=0,0,0,1
q=request.form["plb"]
if(q== 'n'):
  q=0
if(q== 'y'):
  q=1
r=request.form["mcharges"]
s=request.form["tcharges"]
t=[[int(g1),int(g2),int(g3),int(h1),int(h2),int(h3),int(i1),int(i2),int(i3),int(j1),int(j2),int(j3)]]
print(t)
x=model.predict(t)
print(x[0])
if(x[[0]]<=0.5):
  y="No"
  return render_template("predno.html",z=y)
if(x[[0]]>=0.5):
y="Yes"
return render_template("predyes.html",z=y)
]



\